.kit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1em;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ramen-title {
  font-size: 2.5em;
}

input[type=number] {
  height: 30px;
}

input[type=number]:hover::-webkit-inner-spin-button {
  width: 14px;
  height: 30px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quantity input {
  height: 40px;
  width: 100%;
  margin: 1em;
  margin-left: 0em;
  font-size: 1.5em;
  font-family: 'DynaPuff', cursive;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

img{
  width: 80%;
}

#quantity button {
  margin: 0.2em;
  /* font-family: "Roboto"; */
  color: black;
}

#quantity button:hover {
  color: white;
  background-color: rgb(26, 29, 30);
  border: 2px solid rgb(26, 29, 30);
}

.ingredients {
  list-style-type: none;
  margin: 1em;
  padding: 0em;
  text-align: center;
}

.ingredients li {
  margin-bottom: 0.5em;

}



.desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}





@media screen and (min-width: 1100px) {
  .desktop {
    display: flex;
    width: 80%;
    flex-direction: row;
  }

  .ingredients li{
    text-align: left;
    margin-left: 5em;
  }

}

/* li.menu-item:not(:last-child) {
  margin-bottom: 3px;
} */